# Olist Data Overview

In [4]:
!dir data\raw\

 Volume in drive D is Drive
 Volume Serial Number is B20A-A47A

 Directory of d:\GitHub\Data Engineer\data\raw

30/08/2025  18:25    <DIR>          .
30/08/2025  18:25    <DIR>          ..
29/08/2025  20:00         9,033,957 olist_customers_dataset.csv
29/08/2025  20:00        61,273,883 olist_geolocation_dataset.csv
29/08/2025  20:00        17,654,914 olist_orders_dataset.csv
29/08/2025  20:00        15,438,671 olist_order_items_dataset.csv
29/08/2025  20:00         5,777,138 olist_order_payments_dataset.csv
29/08/2025  20:00        14,451,670 olist_order_reviews_dataset.csv
29/08/2025  20:00         2,379,446 olist_products_dataset.csv
29/08/2025  20:00           174,703 olist_sellers_dataset.csv
29/08/2025  20:00             2,613 product_category_name_translation.csv
               9 File(s)    126,186,995 bytes
               2 Dir(s)  475,880,329,216 bytes free

In [31]:
import numpy as np
import pandas as pd
import os
pd.set_option('display.max_columns', 5)

In [14]:
os.getcwd()

'd:\\GitHub\\Data Engineer'

In [32]:
df = pd.read_csv('./data/raw/olist_customers_dataset.csv')

print('First few rows of Olist customer dataset\n')
print(df.head(5))
print('\nMeta data of customer dataset\n')
print(df.info())

First few rows of Olist customer dataset

                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

Meta data of customer dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

In [34]:
path = './data/raw/'

for filename in os.listdir(path):
    if filename.endswith('.csv'):
        filepath  = os.path.join(path, filename)
        try:
            df = pd.read_csv(filepath)

            print(f'\nProcessing file: {filename}\n')

            print('*' * 50)

            print(df.info())
            
            print('*' * 50)

            print(df)
            
            print('*' * 50)

        except Exception as e:
            print(f'Error processing file {filename}: {e}')

Processing file: olist_customers_dataset.csv

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None
**************************************************
                            customer_id                customer_unique_id  \
0      06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1      18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2      4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3      b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4      4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066
...                                 ...                               ...
99436  17ddf5dd5d51696bb3d7c6291687be6f  1a29b476fee25c95fbafc67c5ac95cf8
99437  e7b71a9017aa05c9a7fd292d714858e8  d52a67c98be1cf6a5c84435bd38d095d
99438  5e28dfe12db7fb50a4b2f691faecea5e  e9f50caf99f032f0bf3c55141f019d99
99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e
99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398

       customer_zip_code_prefix          customer_city customer_state
0                         14409                 franca             SP
1                          9790  sao bernardo do campo             SP
2                          1151              sao paulo             SP
3                          8775        mogi das cruzes             SP
4                         13056               campinas             SP
...                         ...                    ...            ...
99436                      3937              sao paulo             SP
99437                      6764        taboao da serra             SP
99438                     60115              fortaleza             CE
99439                     92120                 canoas             RS
99440                      6703                  cotia             SP

[99441 rows x 5 columns]
**************************************************

Processing file: olist_geolocation_dataset.csv

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None
**************************************************
         geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                               1037       -23.545621       -46.639292
1                               1046       -23.546081       -46.644820
2                               1046       -23.546129       -46.642951
3                               1041       -23.544392       -46.639499
4                               1035       -23.541578       -46.641607
...                              ...              ...              ...
1000158                        99950       -28.068639       -52.010705
1000159                        99900       -27.877125       -52.224882
1000160                        99950       -28.071855       -52.014716
1000161                        99980       -28.388932       -51.846871
1000162                        99950       -28.070104       -52.018658

        geolocation_city geolocation_state
0              sao paulo                SP
1              sao paulo                SP
2              sao paulo                SP
3              sao paulo                SP
4              sao paulo                SP
...                  ...               ...
1000158         tapejara                RS
1000159   getulio vargas                RS
1000160         tapejara                RS
1000161  david canabarro                RS
1000162         tapejara                RS

[1000163 rows x 5 columns]
**************************************************

Processing file: olist_orders_dataset.csv

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None
**************************************************
                               order_id                       customer_id  \
0      e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1      53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2      47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3      949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4      ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c
...                                 ...                               ...
99436  9c5dedf39a927c1b2549525ed64a053c  39bd1228ee8140590ac3aca26f2dfe00
99437  63943bddc261676b46f01ca7ac2f7bd8  1fca14ff2861355f6e5f14306ff977a7
99438  83c1379a015df1e13d02aae0204711ab  1aa71eb042121263aafbe80c1b562c9c
99439  11c177c8e97725db2631073c19f07b62  b331b74b18dc79bcdf6532d51e1637c1
99440  66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24

       ... order_delivered_customer_date order_estimated_delivery_date
0      ...           2017-10-10 21:25:13           2017-10-18 00:00:00
1      ...           2018-08-07 15:27:45           2018-08-13 00:00:00
2      ...           2018-08-17 18:06:29           2018-09-04 00:00:00
3      ...           2017-12-02 00:28:42           2017-12-15 00:00:00
4      ...           2018-02-16 18:17:02           2018-02-26 00:00:00
...    ...                           ...                           ...
99436  ...           2017-03-17 15:08:01           2017-03-28 00:00:00
99437  ...           2018-02-28 17:37:56           2018-03-02 00:00:00
99438  ...           2017-09-21 11:24:17           2017-09-27 00:00:00
99439  ...           2018-01-25 23:32:54           2018-02-15 00:00:00
99440  ...           2018-03-16 13:08:30           2018-04-03 00:00:00

[99441 rows x 8 columns]
**************************************************

Processing file: olist_order_items_dataset.csv

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None
**************************************************
                                order_id  order_item_id  ...   price  \
0       00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.90
1       00018f77f2f0320c557190d7a144bdd3              1  ...  239.90
2       000229ec398224ef6ca0657da4fc703e              1  ...  199.00
3       00024acbcdf0a6daa1e931b038114c75              1  ...   12.99
4       00042b26cf59d7ce69dfabb4e55b4fd9              1  ...  199.90
...                                  ...            ...  ...     ...
112645  fffc94f6ce00a00581880bf54a75a037              1  ...  299.99
112646  fffcd46ef2263f404302a634eb57f7eb              1  ...  350.00
112647  fffce4705a9662cd70adb13d4a31832d              1  ...   99.90
112648  fffe18544ffabc95dfada21779c9644f              1  ...   55.99
112649  fffe41c64501cc87c801fd61db3f6244              1  ...   43.00

       freight_value
0              13.29
1              19.93
2              17.87
3              12.79
4              18.14
...              ...
112645         43.41
112646         36.53
112647         16.95
112648          8.72
112649         12.79

[112650 rows x 7 columns]
**************************************************

Processing file: olist_order_payments_dataset.csv

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None
**************************************************
                                order_id  payment_sequential payment_type  \
0       b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1       a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2       25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3       ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4       42fdf880ba16b47b59251dd489d4441a                   1  credit_card
...                                  ...                 ...          ...
103881  0406037ad97740d563a178ecc7a2075c                   1       boleto
103882  7b905861d7c825891d6347454ea7863f                   1  credit_card
103883  32609bbb3dd69b3c066a6860554a77bf                   1  credit_card
103884  b8b61059626efa996a60be9bb9320e10                   1  credit_card
103885  28bbae6599b09d39ca406b747b6632b1                   1       boleto

        payment_installments  payment_value
0                          8          99.33
1                          1          24.39
2                          1          65.71
3                          8         107.78
4                          2         128.45
...                      ...            ...
103881                     1         363.31
103882                     2          96.80
103883                     1          47.77
103884                     5         369.54
103885                     1         191.58

[103886 rows x 5 columns]
**************************************************

Processing file: olist_order_reviews_dataset.csv

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None
**************************************************
                              review_id                          order_id  \
0      7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1      80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2      228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3      e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4      f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1
...                                 ...                               ...
99219  574ed12dd733e5fa530cfd4bbf39d7c9  2a8c23fee101d4d5662fa670396eb8da
99220  f3897127253a9592a73be9bdfdf4ed7a  22ec9f0669f784db00fa86d035cf8602
99221  b3de70c89b1510c4cd3d0649fd302472  55d4004744368f5571d1f590031933e4
99222  1adeb9d84d72fe4e337617733eb85149  7725825d039fc1f0ceb7635e3f7d9206
99223  efe49f1d6f951dd88b51e6ccd4cc548f  90531360ecb1eec2a1fbb265a0db0508

       ...  review_creation_date review_answer_timestamp
0      ...   2018-01-18 00:00:00     2018-01-18 21:46:59
1      ...   2018-03-10 00:00:00     2018-03-11 03:05:13
2      ...   2018-02-17 00:00:00     2018-02-18 14:36:24
3      ...   2017-04-21 00:00:00     2017-04-21 22:02:06
4      ...   2018-03-01 00:00:00     2018-03-02 10:26:53
...    ...                   ...                     ...
99219  ...   2018-07-07 00:00:00     2018-07-14 17:18:30
99220  ...   2017-12-09 00:00:00     2017-12-11 20:06:42
99221  ...   2018-03-22 00:00:00     2018-03-23 09:10:43
99222  ...   2018-07-01 00:00:00     2018-07-02 12:59:13
99223  ...   2017-07-03 00:00:00     2017-07-03 21:01:49

[99224 rows x 7 columns]
**************************************************

Processing file: olist_products_dataset.csv

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None
**************************************************
                             product_id              product_category_name  \
0      1e9e8ef04dbcff4541ed26657ea517e5                         perfumaria
1      3aa071139cb16b67ca9e5dea641aaa2f                              artes
2      96bd76ec8810374ed1b65e291975717f                      esporte_lazer
3      cef67bcfe19066a932b7673e239eb23d                              bebes
4      9dc1a7de274444849c219cff195d0b71              utilidades_domesticas
...                                 ...                                ...
32946  a0b7d5a992ccda646f2d34e418fff5a0                   moveis_decoracao
32947  bf4538d88321d0fd4412a93c974510e6  construcao_ferramentas_iluminacao
32948  9a7c6041fa9592d9d9ef6cfe62a71f8c                    cama_mesa_banho
32949  83808703fc0706a22e264b9d75f04a2e             informatica_acessorios
32950  106392145fca363410d287a815be6de4                    cama_mesa_banho

       ...  product_height_cm  product_width_cm
0      ...               10.0              14.0
1      ...               18.0              20.0
2      ...                9.0              15.0
3      ...                4.0              26.0
4      ...               17.0              13.0
...    ...                ...               ...
32946  ...               40.0              40.0
32947  ...               19.0              16.0
32948  ...                7.0              27.0
32949  ...               13.0              20.0
32950  ...                2.0               7.0

[32951 rows x 9 columns]
**************************************************

Processing file: olist_sellers_dataset.csv

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
None
**************************************************
                             seller_id  seller_zip_code_prefix  \
0     3442f8959a84dea7ee197c632cb2df15                   13023
1     d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2     ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3     c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4     51a04a8a6bdcb23deccc82b0b80742cf                   12914
...                                ...                     ...
3090  98dddbc4601dd4443ca174359b237166                   87111
3091  f8201cab383e484733266d1906e2fdfa                   88137
3092  74871d19219c7d518d0090283e03c137                    4650
3093  e603cf3fec55f8697c9059638d6c8eb5                   96080
3094  9e25199f6ef7e7c347120ff175652c3b                   12051

            seller_city seller_state
0              campinas           SP
1            mogi guacu           SP
2        rio de janeiro           RJ
3             sao paulo           SP
4     braganca paulista           SP
...                 ...          ...
3090            sarandi           PR
3091            palhoca           SC
3092          sao paulo           SP
3093            pelotas           RS
3094            taubate           SP

[3095 rows x 4 columns]
**************************************************

Processing file: product_category_name_translation.csv

**************************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
None
**************************************************
            product_category_name product_category_name_english
0                    beleza_saude                 health_beauty
1          informatica_acessorios         computers_accessories
2                      automotivo                          auto
3                 cama_mesa_banho                bed_bath_table
4                moveis_decoracao               furniture_decor
..                            ...                           ...
66                         flores                       flowers
67             artes_e_artesanato         arts_and_craftmanship
68                fraldas_higiene           diapers_and_hygiene
69  fashion_roupa_infanto_juvenil     fashion_childrens_clothes
70             seguros_e_servicos         security_and_services

[71 rows x 2 columns]
**************************************************